@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* overflow: hidden; Optional: prevents scrolling if the content is larger than the viewport */
  }
  